.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slider {
    display: flex;
    transition: transform 1s ease-in-out;
}
/* ici c'est le conteneur du slider qui va s'adapter a la largeur de la page et cacher les parties qui dépassent. */
.slider img {
    width: 100%;
    height: auto;
    display: block;
}
/*ici on est sur chaque image du slider qui vont bien occuper 100% de la largeur du conteneur et garder automatiquement la hauteur adéqquate et ne mettra pas d'espace sous les images.*/
.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}
/*la on prépare le conteneur des dots*/
.dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dot.active {
    background-color: #fff;
}
/*la on définit les petits ronds pour la navigation en bas du slider. Ils sont centrés horizontalement et s'allument lorsqu'on navigue vers une image.*/

.menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    text-align: center;
    margin-bottom: 500px;
}
.menu ul {
    list-style: none;
    padding: 0;
}
.menu ul li {
    margin: 15px 0;
}
.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.burger-icon {
    font-size: 30px;
    color: #333;
    cursor: pointer;
    margin: 20px;
}
.menu.open{
    display: block;
}
